{include="header"}

<script type="text/javascript">
    $(document).ready(function () {
        $("#b_eliminar").click(function (event) {
            event.preventDefault();
            if (confirm("¿Realmente desea eliminar esta Recogida ({$fsc->resultado->recogida_id})?"))
                window.location.href = '{$fsc->url()}&delete={$fsc->resultado->recogida_id}';
        });

        document.f_edita_entidad.entidad_id.focus();
    });
</script>

<form name="f_edita_entidad" action="{$fsc->resultado->url()}" method="post" class="form">
    <div class="container-fluid hidden-print" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-8">
                <a href="{$fsc->resultado->url()}" class="btn btn-sm btn-default" title="Recargar la página">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
            </div>
            <div class="col-md-4 text-right">
                <div class="btn-group">
                    {if="$fsc->allow_delete"}
                    <a id="b_eliminar" class="btn btn-sm btn-danger" href="#">
                        <span class="glyphicon glyphicon-trash"></span> &nbsp; Eliminar
                    </a>
                    {/if}
                    <button type="submit" class="btn btn-sm btn-primary" onclick="this.disabled = true;
                            this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2 style="margin-bottom: 0px;">
                    <a href="{$fsc->url()}">Recogidas Ayuntamientos</a> /
                    Editando {$fsc->resultado->recogida_id}
                </h2>
            </div>
        </div>

    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    Empresa: 
                    <select name="entidad_id" class="form-control">
                        {loop="$fsc->listar_entidades_xtipo(2)"}
                        {if="$value->entidad_id == $fsc->resultado->entidad_id"}
                        <option value="{$value->entidad_id}" selected>{$value->entidad_nombre}</option>
                        {else}
                        <option value="{$value->entidad_id}">{$value->entidad_nombre}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    <span class="glyphicon glyphicon-calendar"></span>
                    Fecha:
                    <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->resultado->fecha}"/>
                </div>
            </div>            
            <div class="col-md-3">
                <div class="form-group">
                    Material:
                    <select name="material_id" class="form-control">
                        {loop="$fsc->listar_materiales()"}
                        {if="$value['material_id'] == $fsc->resultado->material_id"}
                        <option value="{$value['material_id']}" selected>{$value['nombre_material']}</option>
                        {else}
                        <option value="{$value['material_id']}">{$value['nombre_material']}</option>
                        {/if}
                        {/loop}
                    </select>                   
                </div>
            </div>  
            <div class="col-md-3">
                <div class="form-group">
                    Tipo:
                    <select name="tipo_id" class="form-control">
                        {loop="$fsc->listar_tipos()"}
                        {if="$value['tipo_id'] == $fsc->resultado->tipo_id"}
                        <option value="{$value['tipo_id']}" selected>{$value['nombre_tipo']}</option>
                        {else}
                        <option value="{$value['tipo_id']}">{$value['nombre_tipo']}</option>
                        {/if}
                        {/loop}
                    </select>                      
                </div>
            </div>  
        </div>
        
        
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    Entrada:
                    <input class="form-control" type="text" name="entrada" value="{$fsc->resultado->entrada}"/>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    Salida:
                    <input class="form-control" type="text" name="salida" value="{$fsc->resultado->salida}"/>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    Matricula:
                    <input class="form-control" type="text" name="matricula" value="{$fsc->resultado->matricula}"/>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="form-group">
                    Ayuntamiento: 
                    <select name="ayunta_id" class="form-control">
                        <option value="0">-</option>
                        {loop="$fsc->listar_entidades_xtipo(1)"}
                        {if="$value->entidad_id == $fsc->resultado->ayunta_id"}
                        <option value="{$value->entidad_id}" selected>{$value->entidad_nombre}</option>
                        {else}
                        <option value="{$value->entidad_id}">{$value->entidad_nombre}</option>
                        {/if}
                        {/loop}
                    </select>
                </div>
            </div>            
        </div>
        <!--/Quinta columna-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    Notas:
                    <textarea class="form-control" name="notas" rows="2">{$fsc->resultado->notas}</textarea>
                </div>
            </div>
            <div class="col-lg-3">
                <span class="glyphicon glyphicon-ok"></span>
                Ecovidrio:                       
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="ecovidrio" value="TRUE" {if condition="$fsc->resultado->ecovidrio"} checked="checked" {/if}/>DISPONIBLE (Si/No)
                    </label>
                </div>
            </div>             
        </div>        
    </div>

</form>

{include="footer"}

