{include="header"}

<ul class="nav nav-tabs">
    <li role="presentation"{if="$fsc->pestanya=='cert_in'"} class="active"{/if}>
        <a href="{$fsc->url()}">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            <span class="hidden-xs">&nbsp; Certificados Entrada</span>
        </a>
    </li>
    <li role="presentation"{if="$fsc->pestanya=='cert_out'"} class="active"{/if}>
        <a href="{$fsc->url()}&tab=cert_out">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
            <span class="hidden-xs">&nbsp; Certificados Salida</span>
        </a>
    </li>
    <li role="presentation"{if="$fsc->pestanya=='graf'"} class="active"{/if}>
        <a href="{$fsc->url()}&tab=graf">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  
            <span class="hidden-xs">&nbsp; Gráficos</span>
        </a>
    </li>   
    <li role="presentation"{if="$fsc->pestanya=='list'"} class="active"{/if}>
        <a href="{$fsc->url()}&tab=list">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>         
            <span class="hidden-xs">&nbsp; Listados</span>
        </a>
    </li>
</ul>

{if="$fsc->pestanya=='cert_in'"}
<script type="text/javascript">
    $(document).ready(function () {
        $("#ac_proveedor").autocomplete({
            serviceUrl: '{$fsc->url()}',
            paramName: 'buscar_proveedor',
            onSelect: function (suggestion) {
                if (suggestion)
                {
                    if (document.f_inforambiente.codproveedor.value != suggestion.data)
                    {
                        document.f_inforambiente.codproveedor.value = suggestion.data;
                        
                        $('#direccion_id option[value!="0"]').remove();
                        
                        selectValues = $.parseJSON(suggestion.direcciones);
                        $.each(selectValues, function (key, value) {
                            $("#direccion_id")
                                .append($("<option></option>")
                                .attr("value", value.id)
                                .text(value.direccion));
                        });
                        
                        document.f_inforambiente.direccion_id.focus();
                    }
                }
            }
        });
        document.f_inforambiente.ac_proveedor.focus();
    });

    function delete_certificado(id)
    {
        if (confirm("¿Realmente desea eliminar Certificado (" + id + ") para esta empresa?"))
            window.location.href = '{$fsc->url()}&delete_certificado=' + id + '&tab=cert_in';
    }
</script>

<form name="f_inforambiente" action="{$fsc->url()}&tab=cert_in" method="post" class="form">
    <input type="hidden" name="codproveedor" value="{$fsc->codproveedor}"/>
    <input type="hidden" name="tipo_id" value="1"/>
    <div class="container-fluid" style="margin-top: 15px;">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    Empresa:
                    <div class="input-group">
                        <input class="form-control" type="text" name="ac_proveedor" value="{$fsc->codproveedor}" id="ac_proveedor" placeholder="Selecciona empresa" autocomplete="off"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="document.f_inforambiente.ac_proveedor.value = '';
                                    document.f_inforambiente.ac_proveedor.focus();
                                    document.f_inforambiente.codproveedor.value = '';document.f_inforambiente.id_direccion.option[value!='0'].remove();">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </span> 
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    Dirección:
                    <select name="direccion_id" id="direccion_id" class="form-control" >
                    </select>
                </div>
            </div>            
            <div class="col-sm-2">
                <div class="form-group">
                    Desde:
                    <input class="form-control datepicker" type="text" name="desde" value="{$fsc->desde}"/>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    Hasta:
                    <input class="form-control datepicker" type="text" name="hasta" value="{$fsc->hasta}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    Nº Certificado:
                    <input class="form-control" type="text" name="n_certificado" value="{$fsc->recogidas_model->nextvalue_in()}" id="n_certificado" placeholder="Numero certificado" autocomplete="off"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    Fecha Certificado:
                    <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->fecha}" id="fecha" placeholder="Si no indica por defecto hoy" autocomplete="off"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    Observaciones:
                    <textarea class="form-control" name="observaciones" rows="1"></textarea>
                </div>
            </div>           
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;
                        this.form.submit();">
                    <span class="glyphicon glyphicon-eye-open"></span> &nbsp; Generar Certificado Entrada
                </button>
            </div>
        </div>
    </div>
    {if="$fsc->resultados"}
    <br/>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nº Certificado</th>
                    <th>Fecha</th>
                    <th>Empresa</th>
                    <th>Certificado</th>
                    <th>Observaciones</th>
                    {if="$fsc->allow_delete"} <th class="text-right">Acciones</th> {/if}
                </tr>
            </thead>
            {loop="$fsc->resultados"}
            <tr>
                <td>{$value->n_certificado}</td>
                <td>{$value->fecha}</td>
                <td>{$value->nombre}</td>
                <td><a href="{$fsc->link}{$value->link}" target="_blank">Visualizar Certificado</a></td>                
                <td>{$value->observaciones2}</td>
                {if="$fsc->allow_delete"}
                <td class="text-right">
                    <a href="#" class="btn btn-xs btn-danger" title="Eliminar" onclick="delete_certificado('{$value->id}')">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
                {/if}
            </tr>
            {/loop}
        </table>
    </div>
    {/if}
</form>
{elseif="$fsc->pestanya=='cert_out'"}
<script type="text/javascript">
    $(document).ready(function () {
        $("#ac_cliente").autocomplete({
            serviceUrl: '{$fsc->url()}',
            paramName: 'buscar_cliente',
            onSelect: function (suggestion) {
                if (suggestion)
                {
                    if (document.f_inforambiente.codcliente.value != suggestion.data)
                    {
                        document.f_inforambiente.codcliente.value = suggestion.data;
                        
                        $('#direccion_id option[value!="0"]').remove();
                        
                        selectValues = $.parseJSON(suggestion.direcciones);
                        $.each(selectValues, function (key, value) {
                            $("#direccion_id")
                                .append($("<option></option>")
                                .attr("value", value.id)
                                .text(value.direccion));
                        });
                        
                        document.f_inforambiente.direccion_id.focus();
                    }
                }
            }
        });
        document.f_inforambiente.ac_cliente.focus();
    });

    function delete_certificado(id)
    {
        if (confirm("¿Realmente desea eliminar Certificado (" + id + ") para esta empresa?"))
            window.location.href = '{$fsc->url()}&delete_certificado=' + id + '&tab=cert_out';
    }
</script>

<form name="f_inforambiente" action="{$fsc->url()}&tab=cert_out" method="post" class="form">
    <input type="hidden" name="codcliente" value="{$fsc->codcliente}"/>
    <input type="hidden" name="tipo_id" value="2"/>
    <div class="container-fluid" style="margin-top: 15px;">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    Empresa:
                    <div class="input-group">
                        <input class="form-control" type="text" name="ac_cliente" value="{$fsc->codcliente}" id="ac_cliente" placeholder="Selecciona empresa" autocomplete="off"/>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="document.f_inforambiente.ac_cliente.value = '';
                                    document.f_inforambiente.ac_cliente.focus();
                                    document.f_inforambiente.codcliente.value = '';document.f_inforambiente.id_direccion.option[value!='0'].remove();">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </span> 
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    Dirección:
                    <select name="direccion_id" id="direccion_id" class="form-control" >
                    </select>
                </div>
            </div>            
            <div class="col-sm-2">
                <div class="form-group">
                    Desde:
                    <input class="form-control datepicker" type="text" name="desde" value="{$fsc->desde}"/>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    Hasta:
                    <input class="form-control datepicker" type="text" name="hasta" value="{$fsc->hasta}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    Nº Certificado:
                    <input class="form-control" type="text" name="n_certificado" value="{$fsc->recogidas_model->nextvalue_out()}" id="n_certificado" placeholder="Numero certificado" autocomplete="off"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    Fecha Certificado:
                    <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->fecha}" id="fecha" placeholder="Si no indica por defecto hoy" autocomplete="off"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    Observaciones:
                    <textarea class="form-control" name="observaciones" rows="1"></textarea>
                </div>
            </div>           
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;
                        this.form.submit();">
                    <span class="glyphicon glyphicon-eye-open"></span> &nbsp; Generar Certificado Entrada
                </button>
            </div>
        </div>
    </div>
    {if="$fsc->resultados"}
    <br/>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nº Certificado</th>
                    <th>Fecha</th>
                    <th>Empresa</th>
                    <th>Certificado</th>
                    <th>Observaciones</th>
                    {if="$fsc->allow_delete"} <th class="text-right">Acciones</th> {/if}
                </tr>
            </thead>
            {loop="$fsc->resultados"}
            <tr>
                <td>{$value->n_certificado}</td>
                <td>{$value->fecha}</td>
                <td>{$value->nombre}</td>
                <td><a href="{$value->link}" target="_blank">Visualizar Certificado</a></td>                
                <td>{$value->observaciones2}</td>
                {if="$fsc->allow_delete"}
                <td class="text-right">
                    <a href="#" class="btn btn-xs btn-danger" title="Eliminar" onclick="delete_certificado('{$value->id}')">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
                {/if}
            </tr>
            {/loop}
        </table>
    </div>
    {/if}
</form>
{elseif="$fsc->pestanya=='graf'"}
<div class="container-fluid" style="margin-top: 10px; margin-bottom: 20px;">
    Graficos
</div>
{elseif="$fsc->pestanya=='list'"}
<div class="container-fluid" style="margin-top: 10px; margin-bottom: 20px;">
    Listados
</div>
{/if}

{include="footer"}
